@using Weikio.ApiFramework.Abstractions
@using Weikio.ApiFramework.Core.Endpoints

<h3>API Catalog</h3>

<table class="table table-responsive table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Version</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var api in ApiProvider.List())
    {
        <tr @onclick="() => SelectedApi = api">
            <td>@api.Name</td>
            <td>@api.Version</td>
        </tr>
    }
    </tbody>

</table>

<h3>Create Endpoint</h3>
<strong>Selected API: </strong> @SelectedApi <br/>
<strong>Route: </strong><input @bind="EndpointRoute"/><br/>
<div class="mt-3"></div>
<button class="btn btn-primary" @onclick="Create">Create</button>

@code {

    [Inject]
    IApiProvider ApiProvider { get; set; }

    [Inject]
    IEndpointManager EndpointManager { get; set; }

    ApiDefinition SelectedApi { get; set; }
    string EndpointRoute { get; set; }

    private void Create()
    {
        var endpoint = new EndpointDefinition(EndpointRoute, SelectedApi);
        
        EndpointManager.CreateAndAdd(endpoint);
        
        EndpointManager.Update();
    }

}